// Theme
$primary: #10377a;
// @secondary:
$success: #065641;
$danger: #c93b44;
// @warning:
// @info:

$background-main: #ffffff;
$background-menu: #e1e1e1;

// Colors
$onyx: #414040ff;
$ash-gray: #aeb7b3ff;
$honey-yellow: #fbaf00ff;
$cyber-yellow: #ffd639ff;
$cedar-chest: #c8553dff;


